<div class="col-md-3 offset-1">
    <div class="bg-info border p-2" @onclick="args => AmenityClicked(args, Amenity.Name)">
        <h2>امکانات - @Amenity.Id</h2><br />
        <span>@Amenity.Name</span><br />
        <span>@Amenity.Description</span><br />
        RF - From Parent <span>@FirstAmenityContent</span> <span>@SecondAmenityContent</span>
    </div>
</div>

@code
{
    [Parameter]
    public required BlazorAmenities Amenity { get; set; }

    [Parameter]
    public EventCallback<string> OnAmenityClicked { get; set; }

    [Parameter]
    public RenderFragment FirstAmenityContent { get; set; } = default!;

    [Parameter]
    public RenderFragment SecondAmenityContent { get; set; } = default!;

    private async Task AmenityClicked(MouseEventArgs e, string name)
    {
        await OnAmenityClicked.InvokeAsync(name);
    }
}